<!DOCTYPE html>
<html>
<head>
	<title>欢迎界面测试</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li><a href="/"> Home </a></li>
				<li><a href="/logout"> Logout </a></li>
			</ul>
		</div>
	</div>
	Date: ${time.date}<br/>
	Time: ${time.time}<br/>
	ModelMessage: ${message}<br/>
	RequestMessage: ${messageRequest}<br/>
	SessionMessage: ${messageSession}<br/>
	#foreach($t in $tests)
		$t<br/>
	#end
	#if("$tests" == "")
		<p> There are no t. </p>
	#end
	<div class="navbar" id="footer">
		<div class="navbar-inner">
			Default footer.
		</div>
	</div>
</div>
</body>
</html>
